@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Pulls the background and text color from your branding manifest */
    @apply bg-[#FFFFFF] text-[#212121];
    font-family: Open Sans, sans-serif;
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    @apply font-bold;
  }
}